ui5-xsds/sap.ui.codeeditor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="sap.ui.codeeditor"
	xmlns:n0="sap.ui.codeeditor"
	xmlns:n1="sap.ui.core"
	>
	<xsd:import namespace="sap.ui.core"/>
	<xsd:element name="CodeEditor" type="n0:_CodeEditorType" substitutionGroup="n1:Control">
		<xsd:annotation>
			<xsd:documentation>Allows to visualize source code of various types with syntax highlighting, line numbers in editable and read only mode. Use this controls in scenarios where the user should be able to inspect and edit source code. NOTE: There is a known limitation where CodeEditor won't work within IconTabBar on Internet Explorer. There is a way to achieve the same functionality - an example of IconTabHeader and a CodeEditor can be found in the CodeEditor's samples.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!--type definition for UIElement 'sap.ui.codeeditor.CodeEditor'-->
	<xsd:complexType name="_CodeEditorType">
		<xsd:complexContent>
			<xsd:extension base="n1:_ControlType">
				<xsd:attribute name="value" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>The value displayed in the code editor</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="type" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>The type of the code in the editor used for syntax highlighting Possible types are: abap, abc, actionscript, ada, apache_conf, applescript, asciidoc, assembly_x86, autohotkey, batchfile, bro, c9search, c_cpp, cirru, clojure, cobol, coffee, coldfusion, csharp, css, curly, d, dart, diff, django, dockerfile, dot, drools, eiffel, ejs, elixir, elm, erlang, forth, fortran, ftl, gcode, gherkin, gitignore, glsl, gobstones, golang, groovy, haml, handlebars, haskell, haskell_cabal, haxe, hjson, html, html_elixir, html_ruby, ini, io, jack, jade, java, javascript, json, jsoniq, jsp, jsx, julia, kotlin, latex, lean, less, liquid, lisp, live_script, livescript, logiql, lsl, lua, luapage, lucene, makefile, markdown, mask, matlab, mavens_mate_log, maze, mel, mips_assembler, mipsassembler, mushcode, mysql, nix, nsis, objectivec, ocaml, pascal, perl, pgsql, php, plain_text, powershell, praat, prolog, properties, protobuf, python, r, razor, rdoc, rhtml, rst, ruby, rust, sass, scad, scala, scheme, scss, sh, sjs, smarty, snippets, soy_template, space, sql, sqlserver, stylus, svg, swift, swig, tcl, tex, text, textile, toml, tsx, twig, typescript, vala, vbscript, velocity, verilog, vhdl, wollok, xml, xquery, yaml, terraform, slim, redshift, red, puppet, php_laravel_blade, mixal, jssm, fsharp, edifact, csp, cssound_score, cssound_orchestra, cssound_document,</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="width" type="n1:_CSSSizeType">
					<xsd:annotation>
						<xsd:documentation>The width of the code editor</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="height" type="n1:_CSSSizeType">
					<xsd:annotation>
						<xsd:documentation>The height of the code editor. A minimal height of 3rem will be applied in case the height is less than 20px.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="editable" type="xsd:boolean">
					<xsd:annotation>
						<xsd:documentation>Sets whether the code in the editor can be changed by the user</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="lineNumbers" type="xsd:boolean">
					<xsd:annotation>
						<xsd:documentation>Sets whether line numbers should be shown</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="valueSelection" type="xsd:boolean">
					<xsd:annotation>
						<xsd:documentation>Sets whether the code is automatically selected if a value is set</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="maxLines" type="xsd:int">
					<xsd:annotation>
						<xsd:documentation>Sets whether the editor height should auto expand to a maximum number of lines. After reaching the maximum number of lines specified, the content of the &lt;code&gt;CodeEditor&lt;/code&gt; will become scrollable.

&lt;b&gt;Note:&lt;/b&gt; Keep in mind that the auto expand &lt;code&gt;CodeEditor&lt;/code&gt; behavior requires the &lt;code&gt;height&lt;/code&gt; property to be set to &lt;code&gt;auto&lt;/code&gt;.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="colorTheme" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>Sets the editors color theme Possible values are: default, hcb, hcb_bright, hcb_blue, theme-ambiance, chaos, chrome, clouds, clouds_midnight, cobalt, crimson_editor, dawn, dreamweaver, eclipse, github, gob, gruvbox, idle_fingers, iplastic, katzenmilch, kr_theme, kuroir, merbivore, merbivore_soft, mono_industrial, monokai, pastel_on_dark, solarized_dark, solarized_light, sqlserver, terminal, textmate, tomorrow, tomorrow_night, tomorrow_night_blue, tomorrow_night_bright, tomorrow_night_eighties, twilight, dracula vibrant_ink, xcode</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="syntaxHints" type="xsd:boolean">
					<xsd:annotation>
						<xsd:documentation>Sets whether to show syntax hints the editor. This flag is only available if line numbers are shown.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="liveChange" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>Fired when the value is changed by user interaction - each keystroke, delete, paste, etc.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="change" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>Fired when the value has changed and the focus leaves the code editor.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>