ui5-xsds/sap.ui.layout.cssgrid.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="sap.ui.layout.cssgrid"
	xmlns:n0="sap.ui.layout.cssgrid"
	xmlns:n1="sap.ui.core"
	xmlns:n2="sap.ui.layout"
	>
	<xsd:import namespace="sap.ui.core"/>
	<xsd:import namespace="sap.ui.layout"/>
	<xsd:element name="CSSGrid" type="n0:_CSSGridType" substitutionGroup="n1:Control">
		<xsd:annotation>
			<xsd:documentation>A layout control, used to create full page layouts or user interface elements.

&lt;h3&gt;Overview&lt;/h3&gt;

A two-dimensional layout control based on the native-browser CSS display grid which can handle both columns and rows. The control can be used along with {@link sap.m.FlexBox} which is the one-dimensional alternative for layouting.

With properties it is possible to define: &lt;ul&gt; &lt;li&gt;columns, rows and their sizes in the grid&lt;/li&gt; &lt;li&gt;vertical and horizontal gaps between the grid items&lt;/li&gt; &lt;li&gt;the flow algorithm when new items are added in the grid&lt;/li&gt; &lt;/ul&gt;

The dimensions of the grid items are defined on a &lt;code&gt;CSSGrid&lt;/code&gt; level. Every item can override its size by specifying how many columns and/or rows it will take in the &lt;code&gt;CSSGrid&lt;/code&gt;. Every item can override its position by specifying from which column and/or row it will start. The configuration of a single item is done with {@link sap.ui.layout.cssgrid.GridItemLayoutData GridItemLayoutData}.

&lt;h3&gt;Terminology&lt;/h3&gt; &lt;ul&gt; &lt;li&gt;Grid - The container which has all grid settings&lt;/li&gt; &lt;li&gt;Gutters - The gap between the rows and columns&lt;/li&gt; &lt;li&gt;Grid areas - Items that take more than one row and/or column&lt;/li&gt; &lt;li&gt;Grid cells - The items of the Grid&lt;/li&gt; &lt;li&gt;Grid lines - The lines around and between the rows and columns&lt;/li&gt; &lt;li&gt;Grid tracks - The space between any two lines in the grid&lt;/li&gt; &lt;li&gt;"fr" Unit - A special grid unit (short from "fraction") which represents a fraction of the available space in the grid&lt;/li&gt; &lt;li&gt;Implicit and Explicit grid - Explicit grid consists of rows and columns defined with &lt;code&gt;gridTemplateColumns&lt;/code&gt; and &lt;code&gt;gridTemplateRows&lt;/code&gt;. The grid also creates rows and columns on its own when needed. Their dimensions are defined with &lt;code&gt;gridAutoColumns&lt;/code&gt; and &lt;code&gt;gridAutoRows&lt;/code&gt;.&lt;/li&gt; &lt;/ul&gt;

&lt;h3&gt;Structure&lt;/h3&gt; The &lt;code&gt;CSSGrid&lt;/code&gt; has the following elements: &lt;ul&gt; &lt;li&gt;&lt;code&gt;items&lt;/code&gt; - The items of the &lt;code&gt;CSSGrid&lt;/code&gt;&lt;/li&gt; &lt;li&gt;&lt;code&gt;customLayout&lt;/code&gt; - An aggregation used to pass the &lt;code&gt;CSSGrid&lt;/code&gt; configuration. Used for templating.&lt;/li&gt; &lt;/ul&gt;

&lt;h3&gt;Usage&lt;/h3&gt;

For general cases, use the &lt;code&gt;CSSGrid&lt;/code&gt; properties to configure how the layout should look. For Box case (equal sized items), use &lt;code&gt;customLayout&lt;/code&gt; aggregation with {@link sap.ui.layout.cssgrid.GridBoxLayout GridBoxLayout} For Grids which need different configurations based on available width, use &lt;code&gt;customLayout&lt;/code&gt; aggregation with {@link sap.ui.layout.cssgrid.GridResponsiveLayout GridResponsiveLayout} To set a specific position to an item or define its dimensions in the grid, pass &lt;code&gt;layoutData&lt;/code&gt; of type {@link sap.ui.layout.cssgrid.GridItemLayoutData GridItemLayoutData}

&lt;i&gt;When to use&lt;/i&gt; &lt;ul&gt; &lt;li&gt;If a two-dimensional layout configuration is needed (both columns and rows are defined)&lt;/li&gt; &lt;/ul&gt;

&lt;i&gt;When not to use&lt;/i&gt; &lt;ul&gt; &lt;li&gt;If the layout needs to be defined only by one dimension (either column or row, not both). Use {@link sap.m.FlexBox FlexBox} instead.&lt;/li&gt; &lt;/ul&gt;

&lt;h3&gt;Responsive behavior&lt;/h3&gt; &lt;ul&gt; &lt;li&gt;Fully configurable by the developer. It is possible to create a "breathing" columns layout which means columns width will grow/shrink depending on grid size.&lt;/li&gt; &lt;li&gt;It is possible to pass a {@link sap.ui.layout.cssgrid.GridResponsiveLayout GridResponsiveLayout} to the &lt;code&gt;customLayout&lt;/code&gt; aggregation of the &lt;code&gt;CSSGrid&lt;/code&gt; and configure how it will look in different breakpoints (S, M, L, XL).&lt;/li&gt; &lt;/ul&gt;

&lt;h3&gt;Current Limitations&lt;/h3&gt; &lt;ul&gt; &lt;li&gt;No support for IE11.&lt;/li&gt; &lt;li&gt;No support for Edge version 15.&lt;/li&gt; &lt;li&gt;No alignment and ordering&lt;/li&gt; &lt;li&gt;No Named grid areas and lines&lt;/li&gt; &lt;/ul&gt;</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GridBasicLayout" type="n0:_GridBasicLayoutType" substitutionGroup="n0:GridLayoutBase">
		<xsd:annotation>
			<xsd:documentation>Applies a sap.ui.layout.cssgrid.GridSettings to a provided DOM element or Control.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GridBoxLayout" type="n0:_GridBoxLayoutType" substitutionGroup="n0:GridLayoutBase">
		<xsd:annotation>
			<xsd:documentation>Applies a sap.ui.layout.cssgrid.GridSettings to a provided DOM element or Control.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GridItemLayoutData" type="n0:_GridItemLayoutDataType" substitutionGroup="n1:LayoutData">
		<xsd:annotation>
			<xsd:documentation>Holds layout data for a grid item.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GridLayoutBase" type="n0:_GridLayoutBaseType">
		<xsd:annotation>
			<xsd:documentation>Applies a sap.ui.layout.cssgrid.GridSettings to a provided DOM element or Control.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GridResponsiveLayout" type="n0:_GridResponsiveLayoutType" substitutionGroup="n0:GridLayoutBase">
		<xsd:annotation>
			<xsd:documentation>Applies a sap.ui.layout.cssgrid.GridSettings to a provided DOM element or Control. Have to possibility to hold multiple sap.ui.layout.cssgrid.GridSettings and apply the currently active GridSettings.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GridSettings" type="n0:_GridSettingsType">
		<xsd:annotation>
			<xsd:documentation>Holds a set of CSS display:grid properties</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResponsiveColumnItemLayoutData" type="n0:_ResponsiveColumnItemLayoutDataType" substitutionGroup="n1:LayoutData">
		<xsd:annotation>
			<xsd:documentation>Holds layout data for an item inside a responsive column layout.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResponsiveColumnLayout" type="n0:_ResponsiveColumnLayoutType" substitutionGroup="n0:GridLayoutBase">
		<xsd:annotation>
			<xsd:documentation>Represents a layout which displays variable number of columns, depending on available screen size. With that it achieves flexible layouts and line breaks for large, medium, and small-sized screens, such as desktop, tablet, and mobile.

Grid row's height is dynamically determined by the height of the highest grid element on this row.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!--type definition for UIElement 'sap.ui.layout.cssgrid.CSSGrid'-->
	<xsd:complexType name="_CSSGridType">
		<xsd:complexContent>
			<xsd:extension base="n1:_ControlType">
				<xsd:sequence>
					<!-- default aggregation 'items'-->
					<xsd:choice minOccurs="0" maxOccurs="unbounded">
						<xsd:element ref="n1:Control"/>
						<xsd:element ref="n1:Fragment"/>
						<xsd:any processContents="lax" namespace="http://www.w3.org/1999/xhtml" />
					</xsd:choice>
					<xsd:element name="customLayout" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Defines a custom Grid layout for the control. If provided, it will override all of the grid properties.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:choice minOccurs="0">
									<xsd:element ref="n0:GridLayoutBase"/>
									<xsd:element ref="n1:Fragment"/>
								</xsd:choice>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="items" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The items contained by the control.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:choice minOccurs="0" maxOccurs="unbounded">
									<xsd:element ref="n1:Control"/>
									<xsd:element ref="n1:Fragment"/>
									<xsd:any processContents="lax" namespace="http://www.w3.org/1999/xhtml"/>
								</xsd:choice>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="width" type="n1:_CSSSizeType">
					<xsd:annotation>
						<xsd:documentation>The width of the control</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="gridTemplateColumns" type="n0:_CSSGridTrackType">
					<xsd:annotation>
						<xsd:documentation>Sets the value for the CSS display:grid property {@link https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns MDN web docs: grid-template-columns}

&lt;b&gt;Note:&lt;/b&gt; Not supported in IE11, Edge 15.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="gridTemplateRows" type="n0:_CSSGridTrackType">
					<xsd:annotation>
						<xsd:documentation>Sets the value for the CSS display:grid property {@link https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-rows MDN web docs: grid-template-rows}

&lt;b&gt;Note:&lt;/b&gt; Not supported in IE11, Edge 15.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="gridRowGap" type="n1:_CSSSizeType">
					<xsd:annotation>
						<xsd:documentation>Sets the value for the CSS display:grid property {@link https://developer.mozilla.org/en-US/docs/Web/CSS/grid-row-gap MDN web docs: grid-row-gap}

&lt;b&gt;Note:&lt;/b&gt; Not supported in IE11, Edge 15.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="gridColumnGap" type="n1:_CSSSizeType">
					<xsd:annotation>
						<xsd:documentation>Sets the value for the CSS display:grid property {@link https://developer.mozilla.org/en-US/docs/Web/CSS/grid-column-gap MDN web docs: grid-column-gap}

&lt;b&gt;Note:&lt;/b&gt; Not supported in IE11, Edge 15.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="gridGap" type="n0:_CSSGridGapShortHandType">
					<xsd:annotation>
						<xsd:documentation>Sets the value for the CSS display:grid property {@link https://developer.mozilla.org/en-US/docs/Web/CSS/grid-gap MDN web docs: grid-gap} It is a shorthand for gridRowGap and gridColumnGap. If some of them is set, the gridGap value will have less priority and will be overwritten.

&lt;b&gt;Note:&lt;/b&gt; Not supported in IE11, Edge 15.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="gridAutoRows" type="n0:_CSSGridTrackType">
					<xsd:annotation>
						<xsd:documentation>Sets the value for the CSS display:grid property {@link https://developer.mozilla.org/en-US/docs/Web/CSS/grid-auto-rows MDN web docs: grid-auto-rows}

&lt;b&gt;Note:&lt;/b&gt; Not supported in IE11, Edge 15.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="gridAutoColumns" type="n0:_CSSGridTrackType">
					<xsd:annotation>
						<xsd:documentation>Sets the value for the CSS display:grid property {@link https://developer.mozilla.org/en-US/docs/Web/CSS/grid-auto-columns MDN web docs: grid-auto-columns}

&lt;b&gt;Note:&lt;/b&gt; Not supported in IE11, Edge 15.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="gridAutoFlow" type="n0:_CSSGridAutoFlowType">
					<xsd:annotation>
						<xsd:documentation>Sets the value for the CSS display:grid property {@link https://developer.mozilla.org/en-US/docs/Web/CSS/grid-auto-flow MDN web docs: grid-auto-flow}

&lt;b&gt;Note:&lt;/b&gt; Not supported in IE11, Edge 15.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--type definition for UIElement 'sap.ui.layout.cssgrid.GridBasicLayout'-->
	<xsd:complexType name="_GridBasicLayoutType">
		<xsd:complexContent>
			<xsd:extension base="n0:_GridLayoutBaseType">
				<xsd:attribute name="gridTemplateColumns" type="n0:_CSSGridTrackType">
					<xsd:annotation>
						<xsd:documentation>Sets the value for the CSS display:grid property {@link https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns MDN web docs: grid-template-columns}

&lt;b&gt;Note:&lt;/b&gt; Not supported in IE11, Edge 15.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="gridTemplateRows" type="n0:_CSSGridTrackType">
					<xsd:annotation>
						<xsd:documentation>Sets the value for the CSS display:grid property {@link https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-rows MDN web docs: grid-template-rows}

&lt;b&gt;Note:&lt;/b&gt; Not supported in IE11, Edge 15.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="gridRowGap" type="n1:_CSSSizeType">
					<xsd:annotation>
						<xsd:documentation>Sets the value for the CSS display:grid property {@link https://developer.mozilla.org/en-US/docs/Web/CSS/grid-row-gap MDN web docs: grid-row-gap}

&lt;b&gt;Note:&lt;/b&gt; Not supported in IE11, Edge 15.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="gridColumnGap" type="n1:_CSSSizeType">
					<xsd:annotation>
						<xsd:documentation>Sets the value for the CSS display:grid property {@link https://developer.mozilla.org/en-US/docs/Web/CSS/grid-column-gap MDN web docs: grid-column-gap}

&lt;b&gt;Note:&lt;/b&gt; Not supported in IE11, Edge 15.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="gridGap" type="n0:_CSSGridGapShortHandType">
					<xsd:annotation>
						<xsd:documentation>Sets the value for the CSS display:grid property {@link https://developer.mozilla.org/en-US/docs/Web/CSS/grid-gap MDN web docs: grid-gap}

&lt;b&gt;Note:&lt;/b&gt; Not supported in IE11, Edge 15.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="gridAutoRows" type="n0:_CSSGridTrackType">
					<xsd:annotation>
						<xsd:documentation>Sets the value for the CSS display:grid property {@link https://developer.mozilla.org/en-US/docs/Web/CSS/grid-auto-rows MDN web docs: grid-auto-rows}

&lt;b&gt;Note:&lt;/b&gt; Not supported in IE11, Edge 15.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="gridAutoColumns" type="n0:_CSSGridTrackType">
					<xsd:annotation>
						<xsd:documentation>Sets the value for the CSS display:grid property {@link https://developer.mozilla.org/en-US/docs/Web/CSS/grid-auto-columns MDN web docs: grid-auto-columns}

&lt;b&gt;Note:&lt;/b&gt; Not supported in IE11, Edge 15.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="gridAutoFlow" type="n0:_CSSGridAutoFlowType">
					<xsd:annotation>
						<xsd:documentation>Sets the value for the CSS display:grid property {@link https://developer.mozilla.org/en-US/docs/Web/CSS/grid-auto-flow MDN web docs: grid-auto-flow}

&lt;b&gt;Note:&lt;/b&gt; Not supported in IE11, Edge 15.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--type definition for UIElement 'sap.ui.layout.cssgrid.GridBoxLayout'-->
	<xsd:complexType name="_GridBoxLayoutType">
		<xsd:complexContent>
			<xsd:extension base="n0:_GridLayoutBaseType">
				<xsd:attribute name="boxMinWidth" type="n1:_CSSSizeType">
					<xsd:annotation>
						<xsd:documentation>Defines the minimum width of the Boxes</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="boxWidth" type="n1:_CSSSizeType">
					<xsd:annotation>
						<xsd:documentation>Defines the width of the Boxes</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="boxesPerRowConfig" type="n2:_BoxesPerRowConfigType">
					<xsd:annotation>
						<xsd:documentation>A string type that defines number of Boxes per row for extra large, large, medium and small screens</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--type definition for UIElement 'sap.ui.layout.cssgrid.GridItemLayoutData'-->
	<xsd:complexType name="_GridItemLayoutDataType">
		<xsd:complexContent>
			<xsd:extension base="n1:_LayoutDataType">
				<xsd:attribute name="gridColumnStart" type="n0:_CSSGridLineType">
					<xsd:annotation>
						<xsd:documentation>Sets the value for the CSS display:grid item property grid-column-start {@link https://developer.mozilla.org/en-US/docs/Web/CSS/grid-column-start MDN web docs: grid-column-start}</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="gridColumnEnd" type="n0:_CSSGridLineType">
					<xsd:annotation>
						<xsd:documentation>Sets the value for the CSS display:grid item property grid-column-end {@link https://developer.mozilla.org/en-US/docs/Web/CSS/grid-column-end MDN web docs: grid-column-end}</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="gridRowStart" type="n0:_CSSGridLineType">
					<xsd:annotation>
						<xsd:documentation>Sets the value for the CSS display:grid item property grid-row-start {@link https://developer.mozilla.org/en-US/docs/Web/CSS/grid-row-start MDN web docs: grid-row-start}</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="gridRowEnd" type="n0:_CSSGridLineType">
					<xsd:annotation>
						<xsd:documentation>Sets the value for the CSS display:grid item property grid-row-end {@link https://developer.mozilla.org/en-US/docs/Web/CSS/grid-row-end MDN web docs: grid-row-end}</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="gridColumn" type="n0:_CSSGridLineType">
					<xsd:annotation>
						<xsd:documentation>Sets the value for the CSS display:grid item property grid-column {@link https://developer.mozilla.org/en-US/docs/Web/CSS/grid-column MDN web docs: grid-column}</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="gridRow" type="n0:_CSSGridLineType">
					<xsd:annotation>
						<xsd:documentation>Sets the value for the CSS display:grid item property grid-row {@link https://developer.mozilla.org/en-US/docs/Web/CSS/grid-row MDN web docs: grid-row}</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--type definition for UIElement 'sap.ui.layout.cssgrid.GridLayoutBase'-->
	<xsd:complexType name="_GridLayoutBaseType"/>
	<!--type definition for UIElement 'sap.ui.layout.cssgrid.GridResponsiveLayout'-->
	<xsd:complexType name="_GridResponsiveLayoutType">
		<xsd:complexContent>
			<xsd:extension base="n0:_GridLayoutBaseType">
				<xsd:sequence>
					<xsd:element name="layout" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The sap.ui.layout.cssgrid.GridSettings applied if no settings are provided for a specific size</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:choice minOccurs="0">
									<xsd:element ref="n0:GridSettings"/>
									<xsd:element ref="n1:Fragment"/>
								</xsd:choice>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="layoutS" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The sap.ui.layout.cssgrid.GridSettings applied for size "S"</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:choice minOccurs="0">
									<xsd:element ref="n0:GridSettings"/>
									<xsd:element ref="n1:Fragment"/>
								</xsd:choice>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="layoutM" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The sap.ui.layout.cssgrid.GridSettings applied for size "M"</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:choice minOccurs="0">
									<xsd:element ref="n0:GridSettings"/>
									<xsd:element ref="n1:Fragment"/>
								</xsd:choice>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="layoutL" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The sap.ui.layout.cssgrid.GridSettings applied for size "L"</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:choice minOccurs="0">
									<xsd:element ref="n0:GridSettings"/>
									<xsd:element ref="n1:Fragment"/>
								</xsd:choice>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="layoutXL" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The sap.ui.layout.cssgrid.GridSettings applied for size "XL"</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:choice minOccurs="0">
									<xsd:element ref="n0:GridSettings"/>
									<xsd:element ref="n1:Fragment"/>
								</xsd:choice>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="containerQuery" type="xsd:boolean">
					<xsd:annotation>
						<xsd:documentation>If set to &lt;code&gt;true&lt;/code&gt;, the current range (large, medium or small) is defined by the size of the container surrounding the &lt;code&gt;CSSGrid&lt;/code&gt; instead of the device screen size (media Query).</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="layoutChange" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>Fired when the currently active GridSettings changes</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--type definition for UIElement 'sap.ui.layout.cssgrid.GridSettings'-->
	<xsd:complexType name="_GridSettingsType">
		<xsd:attribute name="gridTemplateColumns" type="n0:_CSSGridTrackType">
			<xsd:annotation>
				<xsd:documentation>Sets the value for the CSS display:grid property {@link https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns MDN web docs: grid-template-columns}

&lt;b&gt;Note:&lt;/b&gt; Not supported in IE11, Edge 15.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="gridTemplateRows" type="n0:_CSSGridTrackType">
			<xsd:annotation>
				<xsd:documentation>Sets the value for the CSS display:grid property {@link https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-rows MDN web docs: grid-template-rows}

&lt;b&gt;Note:&lt;/b&gt; Not supported in IE11, Edge 15.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="gridRowGap" type="n1:_CSSSizeType">
			<xsd:annotation>
				<xsd:documentation>Sets the value for the CSS display:grid property {@link https://developer.mozilla.org/en-US/docs/Web/CSS/grid-row-gap MDN web docs: grid-row-gap}

&lt;b&gt;Note:&lt;/b&gt; Not supported in IE11, Edge 15.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="gridColumnGap" type="n1:_CSSSizeType">
			<xsd:annotation>
				<xsd:documentation>Sets the value for the CSS display:grid property {@link https://developer.mozilla.org/en-US/docs/Web/CSS/grid-column-gap MDN web docs: grid-column-gap}

&lt;b&gt;Note:&lt;/b&gt; Not supported in IE11, Edge 15.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="gridGap" type="n0:_CSSGridGapShortHandType">
			<xsd:annotation>
				<xsd:documentation>Sets the value for the CSS display:grid property {@link https://developer.mozilla.org/en-US/docs/Web/CSS/grid-gap MDN web docs: grid-gap}

&lt;b&gt;Note:&lt;/b&gt; Not supported in IE11, Edge 15.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="gridAutoRows" type="n0:_CSSGridTrackType">
			<xsd:annotation>
				<xsd:documentation>Sets the value for the CSS display:grid property {@link https://developer.mozilla.org/en-US/docs/Web/CSS/grid-auto-rows MDN web docs: grid-auto-rows}

&lt;b&gt;Note:&lt;/b&gt; Not supported in IE11, Edge 15.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="gridAutoColumns" type="n0:_CSSGridTrackType">
			<xsd:annotation>
				<xsd:documentation>Sets the value for the CSS display:grid property {@link https://developer.mozilla.org/en-US/docs/Web/CSS/grid-auto-columns MDN web docs: grid-auto-columns}

&lt;b&gt;Note:&lt;/b&gt; Not supported in IE11, Edge 15.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="gridAutoFlow" type="n0:_CSSGridAutoFlowType">
			<xsd:annotation>
				<xsd:documentation>Sets the value for the CSS display:grid property {@link https://developer.mozilla.org/en-US/docs/Web/CSS/grid-auto-flow MDN web docs: grid-auto-flow}

&lt;b&gt;Note:&lt;/b&gt; Not supported in IE11, Edge 15.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<!--type definition for UIElement 'sap.ui.layout.cssgrid.ResponsiveColumnItemLayoutData'-->
	<xsd:complexType name="_ResponsiveColumnItemLayoutDataType">
		<xsd:complexContent>
			<xsd:extension base="n1:_LayoutDataType">
				<xsd:attribute name="columns" type="xsd:int">
					<xsd:annotation>
						<xsd:documentation>Specifies the number of columns, which the item should take.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="rows" type="xsd:int">
					<xsd:annotation>
						<xsd:documentation>Specifies the number of rows, which the item should take.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--type definition for UIElement 'sap.ui.layout.cssgrid.ResponsiveColumnLayout'-->
	<xsd:complexType name="_ResponsiveColumnLayoutType">
		<xsd:complexContent>
			<xsd:extension base="n0:_GridLayoutBaseType">
				<xsd:attribute name="layoutChange" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>Fired when the currently active layout changes</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="_CSSGridAutoFlowType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Column">
				<xsd:annotation>
					<xsd:documentation>Insert auto-placed items by filling each column.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ColumnDense">
				<xsd:annotation>
					<xsd:documentation>Insert auto-placed items by filling each column, and fill any holes in the grid.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Row">
				<xsd:annotation>
					<xsd:documentation>Insert auto-placed items by filling each row.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="RowDense">
				<xsd:annotation>
					<xsd:documentation>Insert auto-placed items by filling each row, and fill any holes in the grid.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="_CSSGridGapShortHandType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="_CSSGridLineType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="auto|inherit|((span)?(\s)?-?[0-9]+(\s/\s(span)?(\s)?-?[0-9]*)?)?"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="_CSSGridTrackType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
</xsd:schema>